a {
  text-decoration: none;
  margin-top: 10px;
  font-weight: bold;
  color: #fff;
}

#dashboard {
  font-weight: bolder;
  letter-spacing: 0.6px;
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  align-self: baseline;
}

#wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dashboard {
  margin: 1px;
  padding: 2rem;
  width: 100%;
}

#addUser {
  padding: 6px 26px;
  align-self: baseline;
  border: 2px solid black;
  border-radius: 4px;
  /* background-color: rgb(102, 186, 235); */
  font-weight: 600;
}

/* -----table------ */
/* table,th,td{
    border: 2px solid; */
/* } */

.active {
  /* background-color: rgb(15, 238, 15);
    padding: 6px;
    color: black;
    border-radius: 6px;
    border: 2px solid black; */
  letter-spacing: 1.6px;
  color: rgb(15, 238, 15);
}

.inactive {
  /* background-color: red;
    padding: 6px;
    color: black;
    border-radius: 6px;
    border: 2px solid black; */
  letter-spacing: 1.6px;
  color: red;
}

.sort {
  border: 2px solid black;
}
